			{{!-- HEADER --}}
			<header class="header">
				<div class="">
					{{> logo}}
				</div>
				<nav class="header_nav">
					<div class="header_nav_right">
						
							{{> nav list=header}}
					</div>
					
				</nav>
			</header>
			
			{{!-- main CODE --}}
			{{#with main}}
			<div class="hero">
				<img src="{{image}}" alt="Hero Image" class="hero_image">
				<div class="hero_content">
					<h1 class="hero_title">
						{{heading}}
					</h1>
					<p class="hero_text">
						{{descriotion}}
					</p>
					<div class="hero_action">
						<a class="button hero_button" href="{{href}}">{{button}}</a>
					</div>
				</div>
			</div>
			{{/with}}

			{{!-- BLOG CODE --}}
			
			<main class="blog">
				{{#each featured}}
					{{> cardFeatured data=this}} 
					{{!-- make new component for template4 --}}
				{{/each}}
			</main> 
			

			{{!-- FORM CODE --}}
			
			<div class="form">
				{{#with actions}}
				<div class="form_content">
					{{#each this}}
					<h3 class="form_title">{{heading}}</h3>
					<a class="button form_button" href="{{url}}">{{text}}</a>
					{{/each}}
				</div>
				{{/with}}
			</div>
			
		

			{{!-- FOOTER --}}
			<footer class="row footer">
				<div class="">
					{{> logo}}
					<span class="foter_copyright">Copyright 2023-2024</span>
				</div>
				{{#each footer}}
				<div class="">
					<span class="footer_title">{{title}}</span>
					{{> nav list=links isVertical=true}}
				</div>
				{{/each}}
			</footer>
		
	